<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zackary Allnutt - WordPress Developer and consultant, UK</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

    <link href="/css/styles.css" rel="stylesheet" type="text/css">

</head>
<body class="">

<header class="site-header">
    <div class="container">

        <a class="site-title" href="/">Zack Allnutt</a>

        <nav class="main-menu">
            <a href="/testimonials">Testimonials</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>

    </div>
</header>

<div class="home-heading sect">
    <div class="container">
        <h1> {{ page.title }}</h1>
    </div>
</div>

<h1> {{ page.hello }}</h1>

<div class="sect">
    <div class="container">

        {{ content }}

        <div class="contact-form">
            <form action="https://formspree.io/zackary.allnutt@gmail.com"
                  method="POST">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="_replyto" placeholder="Email">
                <textarea name="message"></textarea>
                <input type="submit" value="Send">
            </form>
        </div>

    </div>
</div>

<footer class="footer">

    <div class="container">

        <p>Copyright ©&nbsp;2017. Design & Development by Zackary Allnutt</p>

    </div>

</footer>

</body>
</html>