<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Meadow Haze</title>

    <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link href="/css/styles.css?v3" rel="stylesheet" type="text/css">

</head>
<body class="">


{{ content }}


<footer class="footer">

    <div class="container">

        <p>Copyright ©&nbsp;2017. Meadow Haze Beautique. Site by <a href="http://zackallnutt.co.uk">Zackary Allnutt</a></p>

    </div>

</footer>

</body>
</html>
